---
title: Publications
permalink: /publications/home/
layout: default
---

<div class="container">

<div class="row">
  <div class="col-lg-12">
    <h1 class="text-center">Publications</h1>

	{% for section in site.data.publications %}
  <ol>
    {% for item in section.items %}
    <li>
      {% for author in item.authors %}
        {% if author.name == "D. Park" -%}
          <b>{{ author.name }}</b>
        {%- else -%}
          {{ author.name }}
        {%- endif -%}
        {%- if forloop.last -%}
          .
        {%- else -%}
          ,
        {%- endif -%}
      {% endfor %}
      {% if item.url %}
      <a href="{{ item.url }}">"{{ item.title }}."</a>
      {% else %}
      "{{ item.title }}."
      {% endif %}
      {% if item.published %}
      	<i>{{ item.journal }},</i>
	      {% if item.volume %}
		      {{ item.volume }},
	      {% endif %}
        ({{ item.year }}).
      {% else -%}
        in preparation.
      {% endif -%}
    </li>
    {% endfor %}
  </ol>
	{% endfor %}

<br>
<hr>
<br>
    <h1 class="text-center">Presentations</h1>

	{% for section in site.data.presentations %}
  <ol>
    {% for item in section.items %}
    <li>
      {% for author in item.authors %}
        {% if author.name == "D. Park" -%}
          <b>{{ author.name }}</b>
        {%- else -%}
          {{ author.name }}
        {%- endif -%}
        {%- if forloop.last -%}
          .
        {%- else -%}
          ,
        {%- endif -%}
      {% endfor %}
      {% if item.url %}
      <a href="{{ item.url }}">"{{ item.title }}."</a>
      {% else %}
      "{{ item.title }}."
      {% endif %}
    	<i>{{ item.conference }},</i>
      {{ item.location }},
      {{ item.date }}.
    </li>
    {% endfor %}
  </ol>
	{% endfor %}

<br>

</div>
</div>

</div>
