<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ "/" | relative_url }}">
                {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='research' %} class="active" {% endif %}><a href="{{ "/research/home/" | relative_url }}">Research</a></li>
                <li {% if page.sectionid=='publications' %} class="active" {% endif %}><a href="{{ "/publications/home/" | relative_url }}">Publications</a></li>
                <!-- <li {% if page.sectionid=='contacts' %} class="active" {% endif %}><a href="{{ "/contacts/home/" | relative_url }}">Contacts</a></li> -->
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a href="{{ site.google_scholar_address }}"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                    <li><a href="{{ site.linkedin_address }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
